<%- include('partials/header.ejs') %>
    <div class="home-div">
        <div class="login-div">
            <div class="home-btn">
                <div>
                    <p>Hello,you are successfully logged in as</p>
                    <div>
                        <h1>
                            <%= username %>
                        </h1>
                    </div>
                </div>

            </div>

        </div>



    </div>



    </div>


    <%- include('partials/footer.ejs') %>