<%- include('partials/header.ejs') %>
    <div class="home-div">
        <div class="login-div">
            <div class="home-btn">
                <div class="login-btn">
                    <div class="sign-btn" id="login" role="button" onclick="signin()">
                        <a href="/login"> Sign In</a>
                    </div>
                    <div class="log-btn">
                        <a href="/sign-up"> Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="log-detail">
                <form action="/signUp" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Enter Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" placeholder="Enter Email" name="email" required>
                    </div>
                    <div style="text-align: right;" class="form-group">
                        <input type="password" class="form-control form-control-lg" placeholder="Enter Password" name="password" required>
                    </div>

                    <div style="margin-top: 3vh;margin-bottom: 5vh;">
                        <button style="padding: 3% 13% 3% 13%;" type="submit" class="btn btn-dark">Sign Up</button>
                    </div>
                    <div class="icons">
                        <div class="icon-body">
                            <div style="display: flex;">
                                <div class="card-body">
                                    <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                                        <i class="fab fa-google"></i> Sign Up with Google
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
                                        <i class="fab fa-facebook"></i> Sign Up with facebook
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>



                </form>
            </div>

        </div>



    </div>



    </div>


    <%- include('partials/footer.ejs') %>